{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
    <section class="py-2 text-center container">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h3 class="fw-light">CGU</h3>
                <p class="lead text-muted">Vivamus faucibus nisi non odio gravida ultricies. Nunc volutpat varius dolor, ut fermentum lectus dictum vel. Proin vestibulum sem est, quis mattis nibh pharetra vel. Pellentesque tellus diam, suscipit ac tellus eu, mollis semper lectus. Pellentesque at condimentum nibh, eu semper turpis. Integer non maximus enim. Vestibulum pellentesque lorem ex, non consectetur nibh condimentum aliquet. Ut euismod viverra ligula, vitae ornare mi blandit eu. Curabitur dapibus orci at lobortis sagittis. Maecenas lectus neque, euismod eu imperdiet nec, pretium sed nibh. Integer lobortis neque enim, laoreet posuere mauris mollis eu. Vestibulum dignissim quam ut ipsum condimentum, sit amet bibendum lectus volutpat. Sed nec magna varius, sagittis massa a, ornare leo.</p>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
