{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Bienvenu {{ app.user.pseudo }} !</h1>
                <p class="lead my-3">Tout le monde n'attend plus que toi!</p>
                <p class="lead mb-0"><a href=* class="text-white fw-bold">Commence à swiper...!</a></p>
            </div>
        </div>
    {% else %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Welcome Lovebird !</h1>
            <p class="lead my-3">Commencez une belle aventure pour
                trouver votre chum ou votre blonde!</p>
            <p class="lead mb-0"><a href="{{ path('app_register') }}" class="text-white fw-bold">C'est par ici pour t'inscrire...!</a></p>
        </div>
    </div>
    {% endif %}
{% endblock %}
