{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Welcome Lovebird !</h1>
            <p class="lead my-3">Commencez une belle aventure pour
                trouvez votre chum ou votre blonde!</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">C'est par ici pour t'inscrire...!</a></p>
        </div>
    </div>
{% endblock %}
