{% extends 'base.html.twig' %}

{% block body %}
    <section class="py-2 text-center container">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h3 class="fw-light">Mentions légales</h3>
                    <p class="lead text-muted">Donec aliquam tristique magna at tincidunt. Curabitur fermentum egestas iaculis. Pellentesque dictum pharetra ligula eget luctus. Nunc dictum turpis eget tortor posuere dignissim. Mauris ultrices vulputate dui id pulvinar. Fusce finibus viverra lacinia. Ut elementum cursus tortor in porta. Curabitur sed auctor orci, eget congue dui. Nullam quis lacinia ante. Nullam posuere dolor arcu, id ultrices magna maximus id. Donec suscipit eleifend quam, eu pharetra nibh ullamcorper quis. Suspendisse tristique semper neque sed pharetra. Duis dui erat, egestas a ipsum ut, luctus lacinia tellus. Fusce vestibulum, urna ut rhoncus pharetra, massa metus posuere lacus, id convallis nulla ex quis leo. Proin tempor sagittis orci id gravida. Curabitur non suscipit enim, sed finibus enim.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}

{% endblock %}

