{% extends 'base.html.twig' %}

{% block body %}
<link href="{{ asset('css/signin.css')}}" rel="stylesheet">
<body class="text-center">
<main class="form-signin">
    <section class="py-2 text-center container">
        <div class="h-100 p-20 text-white bg-dark rounded-3">
            <div class="row py-lg-5">

            <h1 class="h4 mb-4 fw-normal">Ajoute une photo!</h1>
    {{ form(pictureForm) }}
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block title %}
Ajoute une photo !
{% endblock %}

